<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Django CRUD app</title>
  </head>
  <header>
    <nav>
      <ul>
        <li>
          <a href="/">HOME</a>
        </li>
        <li>
          <a href="/tasks">TASK</a>
        </li>
        {% if user.is_authenticated %}
        <li>
          <a href="/logout">LOG OUT</a>
        </li>
        {% else %}
        <li>
          <a href="/signup">SIGN UP</a>
        </li>
        <li>
          <a href="/signin">LOG IN</a>
        </li>
        {% endif %}
      </ul>
    </nav>
  </header>
  <body>
    {% block content %} {% endblock %}
  </body>
</html>
