{% extends 'base.html' %}

<!-- CONTENT -->
{% block content %}
<h1>home</h1>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, alias
  excepturi consequuntur architecto inventore saepe, delectus repellendus omnis
  magni eaque et suscipit est recusandae iusto exercitationem, a maiores
  eveniet. Tenetur quisquam reprehenderit, perferendis vitae consectetur
  accusamus distinctio quas autem exercitationem deserunt quod dolores minima,
  itaque eligendi sed perspiciatis commodi! Veniam?
</p>
{% endblock %}
